<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>素敵な本と出会う場所<br>人気の本がわかる！</h2>
        <% unless logged_in? %>
          <%= link_to 'ブックリスト', signup_path, class: 'btn btn-success btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'items/items', items: @items %>
